.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.logo {
  color: white;
  font: normal 30px/1 "gentium-book-basic", Helvetica, sans-serif;
  padding: 20px;
  float: left;
}

.texting {
  color: #000000;
  z-index: 1;
  display: inline-block;
  text-align: center;
  width: 50%;
  background: #ffffff;
  margin:50px 0px 0 0;
  padding: 10px;
  font:normal 20px/1 "gentium-book-basic", Helvetica, sans-serif;
}


.regForm{
  background: white;
  margin: 100px 20% 0 20%;
  width: 60%;
  font:normal 40px/1 "gentium-book-basic", Helvetica, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
